{{/* gotype: github.com/alexisvisco/amigo/pkg/templates.MainData */ -}}
package main

import (
	"database/sql"

	"github.com/alexisvisco/amigo/pkg/amigoconfig"
	"github.com/alexisvisco/amigo/pkg/entrypoint"
	migrations "{{ .PackagePath }}"
	_ "github.com/jackc/pgx/v5/stdlib"
)

func main() {
	databaseProvider := func(cfg amigoconfig.Config) (*sql.DB, error) {
		return sql.Open("pgx", cfg.GetRealDSN())
	}

	entrypoint.Main(databaseProvider, migrations.Migrations)
}
