{{/* gotype: github.com/alexisvisco/amigo/pkg/templates.MigrationData */ -}}
package {{ .Package }}

import (
    {{- if .UseSchemaImport }}"github.com/alexisvisco/amigo/pkg/schema"{{ end }}
    "{{ .PackageDriverPath }}"
    "time"
)

type {{ .StructName }} struct {}

{{- if not (eq .InUp "") }}

func (m {{ .StructName }}) Change(s *{{ .PackageDriverName }}.Schema) {
    {{ .InUp -}}
}
{{- else }}

func (m {{ .StructName }}) Change(s *{{ .PackageDriverName }}.Schema) {}
{{- end }}

func (m {{ .StructName }}) Name() string {
    return "{{ .Name }}"
}

func (m {{ .StructName }}) Date() time.Time {
    t, _  := time.Parse(time.RFC3339, "{{ .CreatedAt }}")
    return t
}

