{{/* gotype: github.com/alexisvisco/amigo/pkg/templates.MigrationData */ -}}
package {{ .Package }}

import (
{{- range .Imports }}
    "{{ . }}"
{{- end }}
)

type {{ .StructName }} struct {}
{{ if eq .Type "change" }}
func (m {{ .StructName }}) Change(s *{{ .PackageDriverName }}.Schema) {
    {{ indent 1 .InChange }}
}
{{ end -}}
{{ if eq .Type "classic" }}
func (m {{ .StructName }}) Up(s *{{ .PackageDriverName }}.Schema) {
    {{ indent 1 .InUp }}
}

func (m {{ .StructName }}) Down(s *{{ .PackageDriverName }}.Schema) {
    {{ indent 1 .InDown }}
}
{{ end }}
func (m {{ .StructName }}) Name() string {
    return "{{ .Name }}"
}

func (m {{ .StructName }}) Date() time.Time {
    t, _  := time.Parse(time.RFC3339, "{{ .CreatedAt }}")
    return t
}
