package {{ .Package }}

import (
    "github.com/alexisvisco/mig/pkg/schema"
    "time"
)

type {{ .StructName }} struct {}

func (m {{ .StructName }}) Change(t schema.{{ .Driver }}) {

}

func (m {{ .StructName }}) Name() string {
    return "{{ .Name }}"
}

func (m {{ .StructName }}) Date() time.Time {
    t, _  := time.Parse(time.RFC3339, "{{ .CreatedAt }}")
    return t
}

